.header {
  grid-area: header;
  background-color: rgb(140, 255, 26);
  font-size: 2rem;
  text-align: center;
  padding: 0.625rem;
}

.nav {
  grid-area: nav;
  background-color: rgb(107, 107, 71);
  
}

.content {
  grid-area: content;
  background-color: rgb(128, 204, 255);
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(107, 107, 71);
}

.footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
}

.item {
  padding: 0.625rem;
  padding-bottom: 0.5rem;
  place-self: stretch;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 5% 60% 5% 15%;
  grid-gap: 10px;
  height: 100vh;
  place-content: space-between;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "sidebar"
    "footer"
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas:
      "header header header"
      "nav content sidebar"
      "footer footer footer"
  }
}